<form class="bg-2 cart-form"  name="form" novalidate>
	<section class="flex-container">
		<p class="cart-item"><span>供方机构名称:</span><span class="cart-item-content" ng-bind="cartDicts[0].supInfoFullNameCN"></span></p>
		<p class="cart-item"><span>供方部门名称:</span><span class="cart-item-content" ng-bind="cartDicts[0].deptName"></span></p>

		<div class="cart-item">
		    <span >设置订单名称:</span>
		        <b style="color:#F00;">*</b>
		    <div class="relative inline-block w-250">
		        <input type="text"  name="orderName" class="table-search form-control no-border-radius p-l-10" placeholder="请输入订单名称" ng-model="orderName" required ng-pattern="DlsUtil.namePattern">
		    </div>
		        <span class="help-inline" ng-show="form.orderName.$error.required"> 请输入订单名称</span>
		        <span class="help-inline" ng-if="form.orderName.$error.pattern && form.orderName.$dirty">请输入除'<'和'>'以外的符号</span>
		</div>

		<div class=" flex flex-d-r m-b-10">
			<div class="flex-item flex-1 relative">
				<span class="cart-item-name">设置订单生效日期:</span>
				<date-picker class="inline-block m-l-120 w-150" dt="dateStar"></date-picker>
		    </div>

		      <div class="flex-item flex-1 relative">
				<span class="cart-item-name">设置订单终止日期:</span>
				<date-picker class="inline-block m-l-120 w-150" dt="dateEnd"></date-picker>
		      </div>

				<div class="flex-item flex-1 flex-s-c">
			      <span class="w-80">清算类型:</span>
		          <label class="radio-inline w-80">
		            <input class="cart-ratio" type="radio" ng-model="settModCd" name="settModCd"  value="02"> 集中清算
		          </label>
		          <label class="radio-inline w-80">
		            <input class="cart-ratio" type="radio" ng-model="settModCd" name="settModCd"  value="01" ng-disabled="true"> 双边清算
		          </label>
		        </div>
		</div>

		<div class="dls-tab">
			<table class="table table-bordered table-striped">
		      <thead>
		        <tr class="primary">
		          <th ng-repeat="title in titles">{{title}}</th>
		          <th>操作</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="item in cartDicts">
		          <td>{{item.connObjNo}}</td>
		          <td>{{item.connObjCatCd | connObjCatCdFilter}}</td>
		          <td>{{item.prdtName}}</td>
		          <td><button class="btn btn-link" ng-click="detail(item)">{{item.connObjVer}}</button></td>
		          <td>{{item.valuationModeCd}}</td>
		          <td>{{item.valuationPrice}}</td>
		          <td><button class="btn btn-link" ng-click="deleteItem($index)">删除</button></td>
		        </tr>
		      </tbody>
		    </table>
		</div>

		<div class="listBtnArea">
			<button class="btn btn-success pull-right cart-confirm-btn" ng-disabled="form.$invalid" ng-click="confirmOrder($parent.dict_k)"> 确认订单 </button>
		</div>

	</section>
</form>



