<div class="flex" style="flex-wrap: wrap;">
	<ul class="flex-1 show-data-item" ng-repeat="data in datas">
	    <section class="border">
	        <a class="label-name" ng-click="detail(data)">{{data.name}}</a>
	        <li ng-repeat="content in data.contents">
				<label>{{content.key}}</label><label><span ng-show="content.key !== '版本号'">{{content.value}}</span><span ng-show="content.key === '版本号'" class="f-col-3 cursor-pointer" ng-click="detail(data)">{{content.value}}</span></label>
			</li>
	        <a class="add-cart" ng-class="{true : 'disabledBtn'}[data.isInCart]" disabled={{data.isInCart}} ng-click="addItem($event,data)"><label class="iconfont icon-purchase"></label>加入购物车</a>
	    </section>
	</ul>
</div>

