<article class="bg-2">
    <header class="h-50 dls-btn-default ver-mid lh-50">
        <span class="pull-left inline-block ver-mid lh-50 w-250 p-lr-20 f-s-16 f-col-2 f-w-b">业务编号配置</span>
        <a type="button" class='btn-success h-34 lh-34 m-l-120 p-lr-10 f-r' style="margin-top:8px;margin-right:20px;"
        href={{"../../api/mall/marketi/busiId/export/?connObjNo="+idData}}
        target="_blank">导出</a>
    </header>
    <div class="flex-container">
        <div class="w-500">
            <div class="f-w-b">互联对象编号:<span ng-bind="connObjId"></span></div>
            <div class="m-t-30 f-w-b">交易品名称:<span ng-bind="prdtName"></span></div>
            <div class="relative m-t-30 cart-item">
                搜索:
                <div class="relative inline-block w-350">
                    <span class="iconfont icon-search"></span>
                    <input type="text" value="" name="table-search" class="table-search form-control p-l-30 no-border-radius" ng-model="searchText" ng-keyup="search($event)"  placeholder="请输入搜索关键字">
                    <span class="iconfont icon-enter" ng-click="search()"></span>
                </div>
            </div>
        </div>
        <div class="m-t-20">
            <p class="h-34 lh-34">共有{{pageOptions.total_items_num}}个业务编号信息</p>
            <div class="dls-grid m-l-0 m-t-10 p-r-10">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class='grid-header-row'>
                            <th>序号</th>
                            <th>业务编号</th>
                            <th>说明</th>
                            <th ng-show="decide">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in deployList" class="grid-body-row">

                            <td class="grid-body-row-content f-col-3">
                                <span ng-click="order(data.orderId)" ng-bind="$index+1"></span>
                            </td>
                            <td class="grid-body-row-content">
                                <span>{{data.busiId}}</span>
                            </td>
                            <td class="grid-body-row-content" style="width:460px;">
                                <span ng-bind="data.description" uib-popover="{{data.description}}" ng-show="!data.opt" popover-placement="auto bottom-left" popover-trigger="'mouseenter'" popover-popup-close-delay="0" style="width:460px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"></span>
                                <input type="text" ng-show="data.opt" style="width:360px;" placeholder="请添加您的说明(最多200字)" ng-model="data.description" maxlength="200">
                            </td>
                            <td class="grid-body-row-content" ng-show="decide">
                                <span ng-show="!data.opt" ng-click="editCut(data)">编辑</span>
                                <span ng-show="data.opt" ng-click="achieveCut(data)">完成</span>
                            </td>
                        </tr>
                        <tr class="text-center" ng-show="deployList.length === 0">
                            <td colspan="4">暂无数据</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-click="unShift()" style="text-align:center;" class="w-60" ng-show="decide">+新增</div>
                <a type="button" class='btn-success h-34 lh-34 m-l-120 p-lr-10 f-r' style="margin-top:8px;margin-right:20px;" href="javascript:history.go(-1)">返回</a>
                <pagination class="m-l-20 m-t-20" options="pageOptions" cur-page="curPage"></pagination>
            </div>
        </div>
    </div>
</article>