<article class="bg-2" ng-controller="accountTradeDetailCtrl">

    <header class="h-50 dls-btn-default  lh-50">
        <span class="pull-left inline-block  lh-50 w-250 p-lr-20 f-s-16 f-col-2 f-w-b">交易明细</span>
    </header>

    <section class="flex-container f-s-12">
        <div class="f-s-12 h-30 lh-30">
            <label class='w-80 text-right'>查询日期：</label>
            <date-picker class="inline-block w-150 m-r-10 datePicker ver-mid" dt="startDt"
                         mindt="1970, 5, 22"></date-picker>
            <span> ~ </span>
            <date-picker class="inline-block w-150 m-l-10 datePicker ver-mid" dt="endDt"
                         mindt="1970, 5, 22"></date-picker>
            <button class="btn btn-primary h-34 m-l-20" ng-click="search()">查询</button>

        </div>

        <div class="m-t-30 flex">
            <label class="h-34 lh-34 p-l-20">业务类型：</label>
            <ul class="flex" ng-init="busType = '' ; selectType = ''">
                <li class='f-s-14 btn btn-default h-34 lh-34 p-lr-10' style="border-radius:5px 0 0 5px;"
                    ng-class="{'btn-primary': busType === ''}" ng-click="busType = ''">全部
                </li>
                <li class='f-s-14 btn btn-default h-34 lh-34 no-border-radius p-lr-10'
                    ng-class="{'btn-primary': busType === '08'}" ng-click="busType = '08'">充值
                </li>
                <li class='f-s-14 btn btn-default h-34 lh-34 no-border-radius p-lr-10'
                    ng-class="{'btn-primary': busType === '02'}" ng-click="busType = '02'">提现
                </li>
                <li class='f-s-14 btn btn-default h-34 lh-34 no-border-radius p-lr-10'
                    ng-class="{'btn-primary': busType === '03'}" ng-click="busType = '03'">授信调整
                </li>
                <li class='f-s-14 btn btn-default h-34 lh-34 no-border-radius p-lr-10'
                    ng-class="{'btn-primary': busType === '04'}" ng-click="busType = '04'">赠送调整
                </li>
                <li class='f-s-14 btn btn-default h-34 lh-34 no-border-radius p-lr-10'
                    ng-class="{'btn-primary': busType === '05'}" ng-click="busType = '05'">调账
                </li>
                <li class='f-s-14 btn btn-default h-34 lh-34 p-lr-10' style="border-radius:0 5px 5px 0"
                    ng-class="{'btn-primary': busType === '06'}" ng-click="busType = '06'">清算
                </li>

            </ul>

            <label class="h-34 lh-34 p-l-20 m-l-120">产品类型：</label>

            <select class='h-34 lh-34 f-s-16' ng-options='item.value as item.label for item in tradeType'
                    ng-model='selectType'>
            </select>

            <a type="button" class='btn-success h-34 lh-34 m-l-120 p-lr-10'
               href="../../api/acc/user/transaction/export?startTime={{sd}}&endTime={{ed}}&busType={{busType}}&ptdtType={{selectType}}"
               target="_blank">导出</a>

        </div>

        <div class="dls-grid m-l-0 m-t-10 p-r-10">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class='grid-header-row'>
                    <th>日期</th>
                    <th>交易流水号</th>
                    <th>产品名称</th>
                    <th>业务类型</th>
                    <th>变动金额（元）</th>
                    <th>状态</th>
                    <th>操作人</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in originDatas" class="grid-body-row">
                    <td class="grid-body-row-content" ng-bind="data.createTime | textEmptyFilter">
                    </td>
                    <td class="grid-body-row-content" ng-bind="data.serialNum | textEmptyFilter">
                    </td>
                    <td class="grid-body-row-content" ng-bind="data.prdtType | textEmptyFilter">
                    </td>
                    <td class="grid-body-row-content" ng-bind="data.businessType | textEmptyFilter">
                    </td>
                    <td class="grid-body-row-content" ng-bind="data.lmt | textEmptyFilter">
                    </td>
                    <td class="grid-body-row-content" ng-bind="data.transactionStatus | textEmptyFilter">
                    </td>
                    <td class="grid-body-row-content" ng-bind="data.operator">
                    </td>
                    <td class="grid-body-row-content">
                        <span class="f-col-3" ng-mouseenter="setPopover(data)" uib-popover-html="popoverDetail"
                              popover-placement="auto bottom-left" popover-trigger="'mouseenter'">详情</span>
                    </td>
                </tr>
                <tr class="text-center" ng-show="originDatas.length === 0">
                    <td class="grid-body-row-content" colspan="8">暂无数据</td>
                </tr>
                </tbody>
            </table>
            <pagination options="pageOptions" cur-page="curPage" sum="totalItems"></pagination>

        </div>
    </section>
</article>
