<div class="panel-heading">
    <table class="table table-bordered table-hover table-striped" id={{options.id}}>
        <thead>
            <!--&lt;!&ndash;<tr class="grid-header-row">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<th width={{col.width}} ng-repeat="col in options.columnDefs">{{col.displayName}}</th>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        </thead>
        <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr class="grid-body-row">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<td class="grid-body-row-content" ng-repeat="key in keys" ng-bind-html=data[key]></td>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
    </table>
</div>