.btn-dowmload{
    height: 34px;
    line-height: 32px;
    color: #2e9bcf;
    border: solid 1px #ded7d7;
    background-color: #fff;
    font-size: 14px;
    padding: 0px 20px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.item-title{
	margin-top: 10px;
	font-weight: bold;
	color: #595757;
}
.item-title span{
	color: #c09853;
}
.item-title .item-name {
    color: #e74c3c;
}
.item-content{
	padding: 10px;
	line-height: 1.42857143;
	color: #414246;
}
.item-content label{
	margin-bottom: 0;
	font-weight: lighter;
    min-width: 90px;
}
.item-content .money{
    color: #e74c3c;
}
.item-content span {
    margin-right: 20px;
	margin-left: 20px;
	font-weight: bold;
}
.item-content .date {
    color: #414246;
}
.item-content .back {
    border-radius: 0;
}
.item-content-inline {
    line-height: 2.84;
}

.item-content .btn-success{
	color: #fff;
    background-color: #1abc9c;
    border: solid 1px #1abc9c;
    font-size: 14px;
    padding: 0 20px;
    margin-left: 20px;
}
.btn-success:hover {
    background-color: #0acca6;
    border: solid 1px #0acca6;
}
.btn-confirm {
    color: #fff;
    background-color: #1abc9c;
    border: solid 1px #1abc9c;
    margin-left: 20px;
}
.btn-confirm:hover, .btn-confirm:active {
    color: #fff;
    background-color: #0acca6;
    border: solid 1px #0acca6;
}
.account-title{
    font-size: 16px;
    font-weight: bold;
    font-family: "Microsoft YaHei", SimHei, SimSun, Sun;
    text-align: center;
    line-height: 1.5em;
    margin-top: 25px;
    color: #25a9df;
}
.infoContent{
	color: #414246;
}
.infoDate{
	line-height: 34px;
    margin-bottom: 0;
}

.pri-btn{
    border-radius:5px;
}

.below-zero{
    color: green !important;
}

.up-zero{
    color: red !important;
}