<div class="bg-2 p-b-80 p-lr-20" ng-controller="supResponseCtrl">
    <header class="flex-between">
        <span class="pull-left inline-block ver-mid lh-50 w-250 f-s-16 f-col-2 f-w-b">供方响应查询</span>
    </header>

    <p class="h-30 lh-30 f-s-12">
        <span class="w-120 text-right">需求编号： {{reqId}}</span>
    </p>
    <p class="lh-20 f-s-12">
        <span class="w-120 text-right">需求关键字： {{keyword}}</span>
    </p>
    <p class="h-30 lh-30 f-s-12">
        <span class="w-120 text-right">发布时间： {{disTime}}</span>
    </p>
    <p class="h-30 lh-30 f-s-12">
        <span class="w-120 text-right">响应供方数： {{respNum}}</span>
    </p>

    <div class="dls-tab" style="width: 100%">
        <table class="table table-bordered table-striped" style="min-width: 100%;">
            <thead>
            <tr class="primary">
                <th>序号</th>
                <th>供方名称</th>
                <th>响应时间</th>
                <th>备注</th>
                <th>数据准备时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in datas">
                <td>{{$index+1}}</td>
                <td>{{item.orgFullNameCN}}</td>
                <td>{{item.respTime}}</td>
                <td>{{item.remarks}}</td>
                <td>{{item.prepareTime}}</td>
            </tr>
            <tr ng-show="!datas">
                <td colspan="5">没有任何数据</td>
            </tr>
            </tbody>
        </table>
    </div>

    <pagination class="m-l-20 m-t-50" options="pageOptions" cur-page="curPage"></pagination>
</div>