<article class="dls-admin bg-2" ng-controller="productAccountCtrl">
	<header class="h-50 dls-btn-default  lh-50" style="width: 1150px;">
	    <span class="pull-left inline-block  lh-50 p-lr-20 f-s-16 f-col-2 f-w-b">产品账户管理</span>
	</header>

	<section class="flex-container">
		<div class="cart-item flex flex-d-r">
			<div class="flex-1">
				<!-- <label class="header-tag">搜索:</label> -->
				<div class="relative inline-block" style="width: 240px;">
				    <span class="iconfont icon-search" ng-click="getData()"></span>
				    <input type="text" value="" name="table-search" class="table-search form-control p-l-30 no-border-radius" placeholder="请输入搜索关键字" ng-keyup="search($event)" ng-model="keyword">
				    <span class="p-r-10 iconfont icon-enter" ng-click="getDatas()"></span>
				</div>
			</div>

		</div>



		<!-- <p class="item-title">共有<span>{{totalItems}}</span>家机构结算单信息</p> -->
		<div class="dls-tab">
			<table class="table table-bordered table-striped">
		      <thead>
		        <tr class="primary">
		          <th ng-repeat="title in titles">{{title}}</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="item in datas.list">
		          <td>{{$index+1}}</td>
		          <td>{{item.memId | textEmptyFilter}}</td>
		          <td>{{item.orgFullNameCN | textEmptyFilter}}</td>
		          <td>{{item.deptName | textEmptyFilter}}</td>
		          <td>{{item.createTime | textEmptyFilter}}</td>
		          <td>{{item.updateTime | textEmptyFilter}}</td>

		          <td>
		          	<a class="btn btn-link" ng-click="setStatus()" ui-sref="dls.productAccount.checkHistory({memId:item.memId})" href="javascript:void(0);" href="javascript:void(0);">审核历史</a>
		          	<a class="btn btn-link" ng-click="setStatus()" ui-sref="dls.productAccount.query({memId:item.memId})" href="javascript:void(0);" href="javascript:void(0);">查看</a>
		          </td>

		        </tr>
		        <tr ng-show="datas.list.length === 0">
		        	<td colspan="{{titles.length+1}}">没有任何数据</td>
		        </tr>

		      </tbody>
		    </table>
		</div>
		<pagination  options="pageOptions" cur-page="curPageNum" sum="totalItems"></pagination>
	</section>


</article>