<span class="glyphicon glyphicon-remove" style="position: absolute;right: 10px;top:10px;cursor: pointer;" ng-click="$ctrl.cancel()"></span>
<div class="modal-header">
    <h3 class="modal-title">调账</h3>
</div>
<div class="modal-body">
  <form  name='form' novalidate>
    <p class="item-content">
      <label class="infoLbl">机构名称：</label>
      <span class="infoContent" ng-bind="modalDatas.orgFullNameCN"></span>
    </p>
    <p class="item-content">
      <label class="infoLbl">部门名称：</label>
      <span class="infoContent" ng-bind="modalDatas.deptName"></span>
    </p>
    <div class="flex">
      <p class="item-content">
        <label class="infoLbl">选择额度:</label>
        <select  class="form-control inline-block no-border-radius" style="width: 120px;" ng-model="modalDatas.accountType" name="accountType" required>
          <option value="" ng-if="false"></option>
          <option value="01" >可用余额</option>
          <option value="02" >可用授信</option>
          <option value="03" >可用赠送额度</option>
          <option value="04" >可计提金额</option>
          <!-- <option value="05" >产品分配额度</option> -->
        </select>
      </p>
      <p class="item-content" ng-if=" modalDatas.accountType === '03' ">
        <label class="infoLbl">选择产品:</label>
        <select  class="form-control inline-block no-border-radius" style="width: 120px;" ng-model="modalDatas.prdtType" name="prdtType" required>
          <option value="" ng-if="false"></option>
          <option value="03" >营销产品</option>
          <option value="02" >征信产品</option>
        </select>
      </p>

    </div>
    <div class="item-content" style="margin-left: 74px;">
        <span class="help-inline" ng-if="form.accountType.$error.required">请选择额度类型</span>
        <span class="help-inline" ng-if="form.prdtType.$error.required">请选择产品类型</span>
    </div>

    <p class="item-content">
      <label class="infoLbl">可调额度：</label>
      <span class="infoContent" ng-bind="quotaAvalivable"></span>
      <span class="help-inline" ng-if="quotaAvalivable === undefined ">无可调额度,不能申请</span>
    </p>


    <div class="flex">
      <p class="item-content">
        <label class="infoLbl">调整金额:</label>
        <select  class="form-control inline-block no-border-radius" style="width: 120px;" ng-model="modalDatas.businessType" name="businessType" required>
          <option value="" ng-if="false"></option>
          <option value="09" >调增</option>
          <option value="10" >调减</option>
        </select>
      </p>
      <p class="item-content">
        <!-- <label class="infoLbl">提现金额：</label> -->
        <input type="text" class="" style="width: 100px;" ng-model="modalDatas.amt" name="amt"  ng-pattern="DlsUtil.positiveNumPattern" required>元
        <!-- <span class="help-inline" ng-if="(form.amt.$error.pattern && form.amt.$dirty) || (form.amt.$error.required && form.amt.$dirty)">请输入正数,最多两位小数</span> -->
      </p>
        <!-- <input type="text" class="" ng-model="modalDatas.amt">元 -->

    </div>
    <div class="item-content" style="margin-left: 74px;">
        <span class="help-inline" ng-if="(form.amt.$error.pattern && form.amt.$dirty) || (form.amt.$error.required && form.amt.$dirty)">请输入正数,最多两位小数</span>
        <span class="help-inline" ng-if="form.businessType.$error.required">请选择类型</span>
    </div>

    <hr>
    <p class="item-content" style="margin-bottom: 30px;">
      <label class="infoLbl">备注：</label>
      <textarea name="remarks"  cols="30" ng-model="modalDatas.remarks" ng-maxlength="255"></textarea>
      <span class="help-inline" ng-show="form.remarks.$error.maxlength">最多为255个字符</span>
    </p>
    <div class="f-s-12 f-col-red m-t-50 m-l-20">* 说明：金额更新至{{modalDatas.nowTime}}可能会与实际交易金额有差异</div>
  </form>



</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="form.$invalid || quotaAvalivable === undefined" ng-click="$ctrl.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
</div>