<article class="bg-2" ng-controller="accountFreezeCtrl">
	<header class="h-50 dls-btn-default  lh-50">
	    <span class="pull-left inline-block  lh-50 w-250 p-lr-20 f-s-16 f-col-2 f-w-b">冻结记录</span>
	</header>

  <section class="flex-container f-s-12">
		<div class="f-s-12 h-30 lh-30">
			<label class='w-80 text-right'>查询日期：</label>
      <date-picker class="inline-block w-150 m-r-10 datePicker ver-mid" dt="startDt" mindt="1970, 5, 22"></date-picker>
      <span> ~ </span>
      <date-picker class="inline-block w-150 m-l-10 datePicker ver-mid" dt="endDt" mindt="1970, 5, 22"></date-picker>
      <button class="btn btn-default h-34 m-l-20" ng-click="search()">查询</button>
		</div>

    <div class="m-t-30 text-right p-r-20" ng-init='selectType = "" ; freezeType= ""'>
      <label class="h-34 lh-34 p-l-20">业务类型：</label>
      <select class='h-34 lh-34 f-s-16' ng-options='item.value as item.label for item in tradeType' ng-model='selectType'>
      </select>

      <label class="h-34 lh-34 p-l-20">解冻类型：</label>
      <select class='h-34 lh-34 f-s-16' ng-options='item.value as item.label for item in freType' ng-model='freezeType'>
      </select>

      <a class='btn btn-success h-34 lh-34 m-l-120 p-lr-10' style='border-radius:5px;' target="_blank" href="../../api/acc/admin/user/account/manage/list/export/?startTime={{sd}}&endTime={{ed}}&busType={{selectType}}&memId={{memId}}&freType={{freezeType}}&type=02">导出</a>
    </div>

    <div class="dls-grid m-l-0 m-t-10 p-r-10">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr class='grid-header-row'>
                <th>日期</th>
                <th>交易流水号</th>
                <th>业务类型</th>
                <th>变动金额（元）</th>
                <th>变动前金额（元）</th>
                <th>变动后金额（元）</th>
                <th>状态</th>
                <th>操作人</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in originDatas" class="grid-body-row">
                <td class="grid-body-row-content" ng-bind="data.createTime | textEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.serialNum | textEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.busType | textEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.lmtGap | moneyEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.freLmt | moneyEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.preFreLmt | moneyEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.transactionStatus | textEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.operator | textEmptyFilter">
                </td>
                <td class="grid-body-row-content" ng-bind="data.remarks | textEmptyFilter">
                </td>
            </tr>
            <tr class="text-center" ng-show="originDatas.length === 0">
                <td class="grid-body-row-content" colspan="9">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
      <pagination options="pageOptions" cur-page="curPage" sum="totalItems"></pagination>
  </section>


</article>
